@{
    ViewData["Title"] = "Home Page";
    //Layout = "Privacy"; // it's possible to choose an layout view for each page;
}

@* The way below is not recomended anymore (because it block threads, and others...) *@
@*@Html.Partial*@

@*<partial name="_GeneralWarning.cshtml" />*@
@*<partial name="_GeneralWarning" />*@
@await Html.PartialAsync("_GeneralWarning")

@*<vc:shopping-cart></vc:shopping-cart>*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
